@model IEnumerable<ketabkhaneh.Models.DB.BookAndMag>

@{
    ViewData["Title"] = "فهرست";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h1>فهرست</h1>
<a href="/BookAndMags" class="btn btn-primary">لیست کتابها</a>&nbsp;&nbsp;
<a href="/panelmanager/BorrowedBooks" class="btn btn-secondary">لیست کتابهای قرض داده شده</a>&nbsp;&nbsp;
<a href="/panelmanager" class="btn btn-outline-warning">لیست اعضا</a>&nbsp;&nbsp;
<p>
    <a asp-action="Create">ایــجــاد آیـتــم جـــدیــد</a>
</p>
<table class="table table-dark table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>عـمـلـیـات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="btn btn-warning">ویرایش</i></a> &nbsp;&nbsp;
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="btn btn-primary">جزییات</i></a>&nbsp;&nbsp;
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="btn btn-danger">حذف</i></a>&nbsp;&nbsp;
                </td>
            </tr>
        }
    </tbody>
</table>
