@model List<ketabkhaneh.Models.DB.User>
@{
    ViewData["Title"] = "Index";
    Layout = "_AdminPanelLayout";
    int index = 1;
}

<div class="row">
    <a href="/BookAndMags" class="btn btn-primary">لیست کتابها</a>&nbsp;&nbsp;
    <a href="/panelmanager/BorrowedBooks" class="btn btn-secondary">لیست کتابهای قرض داده شده</a>&nbsp;&nbsp;
    <a href="/panelmanager" class="btn btn-outline-warning">لیست اعضا</a>&nbsp;&nbsp;

    <div class="col-8 col-md-6 col-lg-5">
        <div class="container-fluid">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>

</div>
            </br></br></br>
  <table class="table table-dark table-bordered table-striped table-hover">
      <tr>
          <th>ردیف</th>
          <th>نام </th>
          <th>فامیل</th>
          <th>ایمیل</th>
          <th>پسورد</th>
          <th>تاریخ عضویت</th>
          <th>سال تولد</th>
          @*<th> حذف</th>
          <th> ویرایش</th>*@

      </tr>

      @foreach (var item in Model)
      {
          <tr>
              <td>@index</td>
              <td>@item.Name</td>
              <td>@item.LastName</td>
              <td>@item.Email</td>
              <td>@item.Password</td>
              <td>@item.SigninDate</td>
              <td>@item.tarikhtavalod</td>
              @*<td><b><a href='#' class='a1 text-danger text-center text-decoration-none'>حذف</a></b></td>
              <td><b><a href='#' class='a1 text-warning text-center text-decoration-none'>ویرایش</a></b></td>*@

          </tr>
          index++;
      }


  </table>

